@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  overflow: hidden;
} */

body::-webkit-scrollbar {
  display: none;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.force-scroll-disabled {
  overflow: hidden !important;
  max-height: 100vh !important;
  max-width: 100vw !important;
}

* {
  cursor: none !important;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.text-stroke-2 {
  /* -webkit-text-stroke: 3px #fff; */
  text-shadow:
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff;
}

.text-stroke-3 {
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

/* body {
  --sb-track-color: #00000000;
  --sb-thumb-color: #90FF00;
  --sb-size: 10px;
}


body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 15px;
} */

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
